<h1>
  Symptom: {{vm.name}}
</h1>
<a href="https://duckduckgo.com/?q=%22{{vm.name}}%22" target="_blank">
 Lookup Definition
</a>



<div class="row">
  <div class="col-md-6 col-md-push-3" ng-if="vm.adverseEvents">
    <h3>{{vm.adverseEvents.inputEventCount | number}} Adverse Events
    </h3>

    <table class="table table-condensed">
      <thead>
      <tr>
        <th>
          <a ng-click="vm.sortBy = 'term'; vm.sort()">
            Chemical Substance Involved
          </a>
        </th>
        <th>
          <a ng-click="vm.sortBy = 'reportingRatio'; vm.sort()">
            Proportional Reporting Ratio
            <a href="https://en.wikipedia.org/wiki/Proportional_reporting_ratio" target="_blank">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </a>
        </th>
        <th>
          <a ng-click="vm.sortBy = 'frequency'; vm.sort()">
            Instances
          </a>
        </th>

      </tr>
      </thead>
      <tr ng-repeat="row in vm.adverseEvents.leadingOutputs">
        <td>
          <a href="/event/substance/{{row.term}}">
            {{row.term}}
          </a>
        </td>
        <td>{{row.reportingRatio | number }} x</td>
        <td>
          {{row.count | number}}

          <em>({{(100 * row.frequency) | number : 2 }}%)</em>
        </td>
      </tr>
    </table>

  </div>
</div>

