<h1>Substance: {{vm.name}}</h1>

<a href="/label-search?facet.substance_name={{vm.name}}">Drugs Containing {{vm.name}}</a>

<div class="row">
  <div class="col-md-6 col-md-push-3">
    <h2>Correlated Side effects</h2>
    <h4><em>Correlation is not causation!</em></h4>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>
          <a ng-click="vm.sortBy = 'term'; vm.sort()">
            Side Effect
          </a>
        </th>
        <th>
          <a ng-click="vm.sortBy = 'reportingRatio'; vm.sort()">
            Reporting Ratio
          </a>
        </th>
        <th>
          <a ng-click="vm.sortBy = 'freqThisDrug'; vm.sort()">
            Instances
          </a>
        </th>

      </tr>
      </thead>
      <tr ng-repeat="row in vm.sideEffects">
        <td>{{row.term}}</td>
        <td>{{row.reportingRatio | number }} x</td>
        <td>
          {{row.count | number}}

          <em>({{(100 * row.freqThisDrug) | number : 2 }}%)</em>
        </td>
      </tr>
    </table>

  </div>
</div>

