

<h1>The homepage!!!</h1>


<h3>Sample detail pages (until we get a search screen TODO!)</h3>


<ul>
  <li>
    <a href="/label/67d9feff-0cae-4c4c-bc45-f0b7aee7705c">Marcaine (has a boxed warning)</a>
  </li>
  <li>
    <a href="/label/3c4082c1-1821-4ba1-82c0-1a63ede0af5b">Viagra</a>
  </li>
  <li>
    <a href="/label/e225144b-e9d6-439f-8785-01bdb350a080">Claritin</a>
  </li>
  <li>
    <a href="/label/2ba90e61-fe6b-487c-8fbc-847211595345">Tylenol</a>
  </li>
  <li>
    <a href="/label/3dba3387-f213-464d-b75d-29eeacbd888c">Bactrim</a>
  </li>

</ul>




