<div class="jumbotron">
<div style="background-color:#133E56;" class="container">
		<div style="text-align:center">
			<div style="margin-top:30px;" class="col-md-4 col-md-offset-4" >
			<img  src="assets/images/logo.png" alt="Catalyst Logo" style="max-width:250px;">

			<p style="color:white; line-height:36px;font-size:22px; margin-top:30px;">
			Helping researchers search and explore OpenFDA data on drug labels &
			adverse events.
			</p>

			<form role="search" action="/label-search" method="GET">
				<div style="margin-bottom:30px;" class="input-group">
					<input class="form-control" type="text" name="fulltext" placeholder="Explore OpenFDA Drug Label Data">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
			</form>

			</div>
		</div>
</div>
</div>
<div class="container">

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          	<h3><strong>Search Drug Labels</strong></h3>
			<p style="font-size: 13px">
				Catalyst offers researchers the ability search the labeling datasets,
				granting access to all of the OpenFDA records.
			</p>
			<a href="/label-search">
         	 <img  src="assets/images/feature1.png" alt="Feature1 Logo" style="max-width:320px;">
			</a>
        </div>
        <div class="col-md-4">

           <h3><strong>Filter by Facets</strong></h3>
			<p style="font-size: 13px">Catalyst offers researchers the
				ability to filter results using our unique search facets, enabling
				drill down results.</p>
			<a href="/label-search">
          	<img  src="assets/images/feature2.png" alt="Feature2 Logo" style="max-width:370px; height:280px">
			</a>
       </div>
        <div class="col-md-4">

           <h3><strong>View details of Drug Labels</strong></h3>
			<p style="font-size: 13px">Catalysts offers researchers the
				ability to view details on the drug label in an interactive way.
			</p>
			<a href="/label-search"> <img
				src="assets/images/feature3.png" alt="Feature3 Logo" style="max-width:300px; height:280px">
			</a>
		</div>
      </div>
      <hr>

       <div class="row">
	        <div class="col-md-4">
	          	<h3 class="egtHeading"><strong>Compare Adverse Event PRR and Frequency</strong></h3>
	          	<p style="font-size: 13px; text-align:justify">
          			Catalyst offers researchers the ability to compare the proportional reporting ratio of adverse
					events to the frequency of occurrence. Explore this graph below,
					which illustrates higher rates of adverse events associated with
					Lisinopril than in other substances, the majority of which occur in
					less than 5% of the sample.
				</p>
	         	 <a href="/event/substance/LISINOPRIL">
					<img  src="assets/images/adverseEvent1.png" alt="AdverseEvent1 Logo" style="max-width:320px;"></br>
				</a>
	        </div>
	        <div class="col-md-4">
	          	<h3><strong>Examine Adverse Event Frequency by Gender</strong></h3>
				<p style="font-size: 13px; text-align: justify">
					Catalyst offers researchers the ability to compare the combined adverse event
					frequency of a particular drug by gender. Explore this graph below
					on Lisinopril, which illustrates a fairly even distribution of
					adverse events between males and females.
				</p>
				<a href="/event/substance/LISINOPRIL">
					<img  src="assets/images/adverseEvent2.png" alt="AdverseEvent1 Logo" style="max-width:320px;"></br>
				</a>
	        </div>
	          <div class="col-md-4">
	          	<h3><strong>Examine Adverse Events by Weight Class Average</strong></h3>
				<p style="font-size: 13px; text-align: justify">
					Catalyst offers researchers the ability to view the frequency of adverse events of a
					particular substance against the average frequency of adverse events
					by weight class. Explore this graph below on Lisinopril, which
					illustrates a higher rate of incidences among higher weight classes.
				</p>
				<a href="/event/substance/LISINOPRIL">
					<img  src="assets/images/adverseEvent3.png" alt="AdverseEvent1 Logo" style="max-width:320px;"></br>
				</a>
	        </div>
	 </div>
</div>

