<div class="container">
	<div class=thumbnail
		style="background-color: rgb(33, 33, 45); color: white">
		<h2>
			About 
			<img style="max-width: 150px;" src="assets/images/logo.png" alt="GSA PROTO LOGO">
		</h2>
	</div>
	<hr>
	<p style="text-align: justify">
		Catalyst is a tool to help researchers easily explore and
		interact with OpenFDA drug labeling & adverse events data. We named
		the tool Catalyst because we believe by making this data more
		accessible we could help inspire and spark insight on trends for
		specific events & outcomes. We looked at the 
		<a href="https://open.fda.gov/" target="_blank">OpenFDA</a> 
		API as our competition, and imagined a scenario where a researcher is looking to
		identify unusual correlations between a particular symptom and
		substance. Alternatively, that same researcher is investigating by
		symptoms to explore which drugs have the highest incidence of that
		outcome. We thought we could help researchers easily understand this
		data by building core analytics around the datasets of labeling &
		adverse events.
	</p>


	<h3>
		What is OpenFDA data?
		<img style="max-width: 150px;" src="assets/images/open-fda-logo.png" alt="GSA PROTO LOGO">
	</h3>
	<hr>
	<p style="text-align: justify">
		The <a href="https://open.fda.gov/about/" target="_blank">openFDA</a> 
		drug adverse event API returns data from the FDA
		Adverse Event Reporting System (FAERS), a database that contains
		information on adverse event and medication error reports submitted to
		FDA. Currently, this data covers publically releasable records
		submitted to the FDA from 2004-2013. The data is updated quarterly.
	</p>


	<h3>Getting Started</h3>
	<hr>
	<p>There are many ways to explore the OpenFDA datasets using Catalyst. Below are a few examples: </p>
	<h5><strong>Want to find all generic forms of a brand name drug?</strong></h5>
	<p style="text-align: justify">
		Enter the brand name into the search label; the right column of
		your return will show summaries of related drug labels, and the left
		column will show the possible ways to filter those results. For example, 
		<a href="/label-search?fulltext=advil">advil</a>, 
		you can learn box warnings, chemical structure, and indications & use. 
		If the dataset is too wide, you can also filter out specific results using 
		the search facets.
	</p>	
	<h5><strong>Want to see the adverse effects of a particular substance or drug?</strong></h5>
	<p style="text-align: justify">
		Enter the drug name into the 
		<a href="/">search label </a>;
	     filter the results by clicking search facets in the left
		column, then click the Adverse Event icon 
		<a href="#" class="h3" style="color: red">☤</a> 
		in the right column next to the ingredient of choice.
	</p>
	<h5><strong>Explore by Cross-referencing Data</strong></h5>
	<p>
	By exploring different features within the data, you can find
	interesting connections, such as all drugs that cause 
	<a href="/event/symptom/NAUSEA">nausea</a>,
	 or that there is a 3.25% rate of suicide from taking 
	 <a href="/event/substance/ACETAMINOPHEN">Acetaminophen</a>.
	</p>
	

	<h3>
		eGlobaltech Inc. 
		<img style="max-width: 150px;" src="assets/images/eglobaltechLogo.png" alt="egt LOGO">
	</h3>
	<hr>
	<p style="text-align: justify">
		eGlobalTech (eGT) is a woman-owned management consulting and IT
		solutions firm based in Arlington, Virginia. Our IT solutions practice
		is based upon agile methodologies which we have used to rapidly deploy
		solutions at HHS, FEMA, and USAID. With our proven repeatable success
		in applying Agile Scrum methodology and Agile engineering techniques
		with cloud and traditional environments.
	</p>
	
	<h3>Colophon</h3>
	<hr>
	<p style="text-align: justify">
		The Catalyst project was lead by Jennifer Hinton. Sheya
		Meierdierkes-Lehman and Laundrew Diamond provided Agile Coaching and
		project management support as the project utilized the agile SCRUM
		methodology. 
		<br><br>
		OpenFDA API integration and Code Optimization was
		completed by Eric Hanson with assistance by Manasa Pandurangi.
		Logo and style was designed by Jennifer Hinton. User experience and
		site look and feel was designed by Manasa Pandurangi.
		<br><br> Robert Patt-Corner and Patrick Grady provide subject matter expertise and
		contributed to the value lead by the project owner Jennifer Hinton.
		<br> <br>
		DevOps support was lead by John Stange & Jai Bapna automated the
		infrastructure and setup the Continuous Integration and Continuous
		Delivery workflow. 
		<br> <br>
		The test team was composed of two resources, Zach
		Rowe who provided automated unit test support and John Karau provided
		user acceptance testing support.
		<br> <br>
		Special Thanks to Rajiv Kadayam, Alfred Kwentua, Chris Gotcu, and Jared Greene.
	</p>
	<div class="well">
		<p style="text-align: justify">
	    	 Disclaimer: Adverse event reports submitted to FDA do not
			undergo extensive validation or verification. Therefore, a causal
			relationship cannot be established between product and reactions
			listed in a report. While a suspected relationship may exist, it is
			not medically validated and should not be the sole source of
			information for clinical decision making or other assumptions about
			the safety or efficacy of a product.
		</p>
	</div>
</div>


