<div ng-switch="vm.status">
  <div ng-switch-when="loading">Loading...</div>
  <div ng-switch-when="error">Not found!</div>
  <div ng-switch-default>

    <h1>{{vm.label.openfda.brand_name[0]}}</h1>


    <alert type="danger" ng-if="vm.label.boxed_warning">
      <h2>Boxed Warning:</h2>

      <p ng-repeat="paragraph in vm.label.boxed_warning track by $index">
        {{paragraph}}
      </p>
    </alert>


    <!-- TODO create a display for all openfda fields-->


    <!-- TODO: we can't repeat the logic for all the sections ad-nausem. Let's create a directive? Somehow detect whether the "_table" variant of the field exists or not??-->
    <h2>Information for Patients</h2>
    <div ng-repeat="line in vm.label.information_for_patients">
      {{line}}
    </div>


    <h2>Dosage and Administration (table)</h2>
    <span ng-bind-html="vm.label.dosage_and_administration_table[0] | to_trusted"></span>


    <h2>Dosage and Administration (text)</h2>
    <span ng-bind-html="vm.label.dosage_and_administration[0]"></span>


    <hr>

    <button class="btn btn-default" ng-click="jsonHidden = !jsonHidden">Show raw JSON</button>
    <div collapse="!jsonHidden">
      <pre>
{{vm.rawString}}
      </pre>
    </div>


  </div>
</div>

