<form class="form">
  <input autofocus class="form-control input-lg col-md-6" ng-model="vm.search.fulltext"
         placeholder="Search fulltext drug labels...">
  <button id="searchButton" class="btn btn-primary btn-lg" ng-click="vm.newSearch()">
    Search
  </button>
</form>




<div class="row">
  <div class="col-sm-4">

    <h3 ng-if="vm.selectedFacets.length">
      Selected Facets
    </h3>


    <div ng-repeat="facet in vm.selectedFacets">

      {{facet.label}}:

      <a ng-click="vm.removeFacet(facet.fieldName)">
        <span class="label label-primary">
          {{facet.value}}
        <span style="color:red" class="glyphicon glyphicon-remove"></span>
        </span>
      </a>
    </div>


    <h3>Available Facets</h3>

    <form class="form-inline" ng-init="isAlpha=false">
      <div class="form-group">
        <label for="sortToggle">Sort Facets by:</label>
        <!--<input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">-->
        <div class="btn-group" id="sortToggle">
          <label class="btn btn-default btn-xs" ng-model="isAlpha" btn-radio="false">Count</label>
          <label class="btn btn-default btn-xs" ng-model="isAlpha" btn-radio="true">Alphabetically</label>
        </div>
      </div>
    </form>

    <accordion close-others="false">
      <div ng-repeat="(facetKey, facet) in vm.facets">
      <accordion-group ng-if="vm.shouldListInAvailableFacets(facetKey)" is-open="facet.isOpen">
        <accordion-heading>
          <div>
            {{facet.label}}
            <small ng-if="!facet.isOpen">({{facet.data.length}})</small>
            <span class="glyphicon pull-right"
                  ng-class="{'glyphicon-resize-full': !facet.isOpen, 'glyphicon-resize-small': facet.isOpen}"></span>
          </div>
        </accordion-heading>
        <!--<ul class="list-group" >-->
        <div style="max-height: 400px; overflow-y: auto">
          <div  ng-repeat="facetInstance in facet.data | orderBy : (isAlpha ? 'term' : 'count') : !isAlpha" style="padding-bottom: 2px;">
            <a ng-click="vm.setFacet(facetKey, facetInstance.term)" >
              <span class="badge pull-right">{{facetInstance.count | number}}</span>
              {{facetInstance.term}}
            </a>
          </div>
        </div>
        <!--</ul>-->

      </accordion-group>
      </div>
    </accordion>



  </div>


  <div class="col-sm-8">
    <section id="loading" ng-if="!(vm.resp || vm.error)">
      <h1>Loading...</h1>
    </section>

    <section id="error" ng-if="vm.error">
      <h1>Error</h1>
      {{vm.error.error.message}}
    </section>

    <section id="mainResults" ng-if="vm.resp" >
      <div>
        Total Results: {{vm.resp.data.meta.results.total | number}}
      </div>

      <pagination
        boundary-links="true" class="pagination-sm" max-size="10"
        total-items="vm.resp.data.meta.results.total" items-per-age="vm.query.pageSize" ng-model="vm.query.pageNum"
        ng-change="vm.executeQuery()">
      </pagination>


      <ul class="list-group">
        <a class="list-group-item" href="/label/{{row.openfda.spl_id[0]}}" class="list-group-item"
           ng-repeat="row in vm.resp.data.results">
          <p>
            Brand Name: {{row.openfda.brand_name[0]}} ({{row.openfda.manufacturer_name[0]}})
          </p>

          <p>
            Generic Name: {{row.openfda.generic_name[0]}}
          </p>

          <p>
            Ingredients:
            <span class="label label-default" ng-repeat="i in row.openfda.substance_name">
              {{i}}
            </span>
          </p>
        </a>
      </ul>

      <pagination
        boundary-links="true" class="pagination-sm" max-size="10"
        total-items="vm.resp.data.meta.results.total" items-per-age="vm.query.pageSize" ng-model="vm.query.pageNum"
        ng-change="vm.executeQuery()">

      </pagination>
    </section>
  </div>


</div>


<button class="btn btn-default" ng-click="jsonHidden = !jsonHidden">Show raw JSON</button>
<div collapse="!jsonHidden">
      <pre>
  {{vm.respText}}
      </pre>
</div>


